#--------------- C++ PRODUCT
DerivedData/
*#
bin
lib
exe
doc/html
doc/latex
doc
._*
*.o
*.so
*.dylib
*.snm
*.pro
*.ep
*.cpy
*.new
*.csh
*.sh
build
*.*~
scripts
DarkSim
.svn
test_*.txt
*.fits
DSS_version.cxx
*screenlog*
gdb

*.html
*.tex

#--------------- Qt JUNK
moc_*
ui_*
*.*_parameters

#--------------- ROOT JUNK
*.d
*Dict*
*.root
root*

#--------------- APPLE JUNK
*(busy)
*.~
*.DS_Store
.DS_Store
*.dSYM
input_*
inputs
*xcuserdata
CCFitsExtractorFramework

#--------------- LATEX PRODUCT
*.aux
*.toc
*.log
*.nav
*.bbl
*.blg
*.out

#--------------- Google test Git repo
googletest/.git*
Testing
googletest/googletest/generated
*.pc


#--------------- ARCHIVE
*.gz
*.zip
*.gzip
*.tar
*.tgz

#--------------- CMAKE Junk
CMakeFiles
*Cache*
depcomp
missing
install-sh
*Makefile*
.deps
*install_manifest.txt
gTest_version.h
*.cmake
CMakeCache.txt
DSS_version.cxx

#--------------- DOXYFILE
doc/html

#--------------- GOOGLE TEST 
googletest/generated